# Resource locations to be added to the default path
[General]
FileSystem=./resources
FileSystem=./resources/images
FileSystem=./resources/lexers/cg
FileSystem=./resources/lexers/glsl
FileSystem=./resources/lexers/oms
FileSystem=./resources/materials
FileSystem=./resources/materials/scripts
FileSystem=./resources/materials/textures
FileSystem=./resources/models